PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://rodrigoguedesf_db_user:Aju79UWUv8BGoeNX@streamhub.gqjsfjv.mongodb.net/?appName=streamhub
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=streamhub_local_secret_key
CLOUDINARY_CLOUD_NAME=dcrou7irb
CLOUDINARY_API_KEY=272834634116712
CLOUDINARY_API_SECRET=bPRtXapLt-oP6lws8-A2ld4KUSI
